@using Task4U.Extensions
@model IEnumerable<Task4U.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Novo</a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Usuários
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-12">

                        <table id="tabelaPadrao" class="display">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nivel)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ativo)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Nivel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Ativo)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a> |
                                            <button type="button" class="btn btn-danger" onclick="ShowConfirmExcluir(@item.Id)">Excluir</button>
                                            @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a> *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <div style="margin-top:10px;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary"> Retornar</a>
    </div>
</p>


@section Scripts {
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabelaPadrao').DataTable({
                "language": {
                    "url" : "@Url.Content("~/lib/DataTables/pt-BR.json")"
                }
            }
            
            );
        });

        function ShowConfirmExcluir(id) {
        var timerInterval;

        Swal.fire({
        title: "Confirma a exclusão deste registro?",
        icon: "warning",
        showCancelButton: true,
        buttonsStyling: false,
        customClass: {
        confirmButton: "btn btn-primary mx-1",
        cancelButton: "btn btn-danger mx-1"
        },
        confirmButtonText: "Confirmar",
        cancelButtonText: "Cancelar"
        }).then(function (result) {
        if (result.isConfirmed) {

        var token = $('input[name="__RequestVerificationToken"]').val();
        // Monta a URL básica gerada pelo Razor
        var urlGerada = '@Url.Action("Delete", "Usuario")/' + id;

        // IMPRIME NO CONSOLE PARA CONFERIRMOS A ROTA
        console.log("Tentando acessar a URL:", urlGerada);
        console.log("Token enviado:", token);

        $.ajax({
        type: 'POST',
        url: urlGerada,
        data: {
        __RequestVerificationToken: token
        },
        success: function (response) {
        Swal.fire({
        icon: "success",
        title: "Deletado!",
        text: "Registro excluído com sucesso.",
        timer: 1000,
        buttonsStyling: false,
        customClass: { confirmButton: "btn btn-success" },
        willOpen: function () { Swal.showLoading(); },
        willClose: function () { clearInterval(timerInterval); }
        }).then(function () {
        location.reload();
        });
        },
        error: function (xhr) {
        // IMPRIME O ERRO DETALHADO NO CONSOLE
        console.error("Erro no AJAX. Status:", xhr.status);
        console.error("Resposta do Servidor:", xhr.responseText);

        Swal.fire({
        icon: "error",
        title: "Erro!",
        text: "Não foi possível excluir o registro. Status: " + xhr.status,
        customClass: { confirmButton: "btn btn-secondary" },
        buttonsStyling: false
        });
        }
        });

        }
        });
        };


    </script>

}
